<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Insert your ingredients</h3>
      <select class="js-ingredients" name="ingredients[]" multiple="multiple">
        <!--  Add default ingredients based on stored json-->
        <option value="milk">Milk</option>
      </select>

    </div>

    <div class="col-md-9">
      <div id="recipes"></div>
    </div>
  </div>
</div>
